body {
  text-align: justify;
  background-color: #FFFFFF;
  font:xx-small Verdana,Sans-serif;
  voice-family: "\"}\""; voice-family:inherit;
  font-size:medium;
  }
  html>body {font-size:small;}


td {
	font-family: "Times New Roman", Times, serif;
}

th {
	font-family: "Times New Roman", Times, serif;
}


/* CSS Document */
/* Deployment 100403.1 Version c040.01 */
/* local css styles relate to all elements in the main editable content region */

/* -------------------------------------------------------------------------------- */
/* HTML Tag Styles                                                                  */
/* -------------------------------------------------------------------------------- */

p {
	font-family: Verdana, sans-serif;
	line-height: 1.15em;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: justify;
}

h1 {
	color: #33CC33;
	font-family: "snap itc", "forte", "ravie", "cooper black", "bremen bd bt", "Berlin sans fb", "magneto", "Beesknees ITC", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	margin-top: 15px;
	vertical-align: top;
	font-size: 1.7em;
}

strong h1 {
    color: #33CC33;
	font-family: "snap itc", "forte", "ravie", "cooper black", "bremen bd bt", "Berlin sans fb", "magneto", "Beesknees ITC", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	margin-top: 15px;
	vertical-align: center;
	font-size: 2em;
}

h2 {
	color: #33CC33;
	font-family: "snap itc", "forte", "ravie", "cooper black", "bremen bd bt", "Berlin sans fb", "magneto", "Beesknees ITC", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
	text-decoration: none;
}
	
h3 {
	font-family: "cooper black", "bremen bd bt", "Berlin sans fb", "magneto", "Beesknees ITC", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding-top: 10px;
	font-size: 1.3em;
}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
}

hr {
	text-align: center;
	height: 1px;
}

div.generator {
	width: 570px;
	padding: 25px;
	border-style: solid;
	border-width: 1px;
	margin: 25px
	font-size: 15px;
}

.mainbody a {
	display: inline;
	padding: 0; 
	text-decoration: none; 
	background: #FFFFFF; 
	color:#33CC33;
}

.mainbody a:hover {
	text-decoration:underline;
}

.warning {
	color: #CC0066;
}

p#offline{
	font-family: Verdana, sans-serif;
	line-height: 1.15em;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: center;
	font-size: large;
	font-weight: bold;
}	
	
.source{
	display: inline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .6em;
}
	
ul#list {
	padding: 0; 
	margin-left: 1em;
	font-family: Verdana, sans-serif; 
	list-style-position: outside;
	list-style-type: disc;
	text-indent: 3px;
	padding: 4px;
}

ul#list p {
	text-indent: -2em; 
	margin-left: 2em;
	margin-top: 2px;
    border-top-width: 0;
    padding-top: 0;
    margin-bottom: 5px;
    border-bottom-width: 0;
    padding-bottom: 0;
}

ul#list li a {
	display: inline;
	padding: 0; 
	text-decoration: none; 
	background: #FFFFFF; 
	color:#33CC33;
}

ul#pgcntnt {
	padding: 0; 
	margin-left: 1em;
	font-family: Verdana, sans-serif; 
	list-style-position: outside;
	list-style-type: disc;
	text-indent: 3px;
	padding: 4px;
}

ul#pgcntnt p {
	text-indent: -2em; 
	margin-left: 2em;
	margin-top: 2px;
    border-top-width: 0;
    padding-top: 0;
    margin-bottom: 5px;
    border-bottom-width: 0;
    padding-bottom: 0;
}

div#tablecont p {
	text-indent: -2em; 
	margin-left: 2em;
	margin-top: 5px;
    border-top-width: 0;
    padding-top: 0;
    margin-bottom: 5px;
    border-bottom-width: 0;
    padding-bottom: 0;
}

div.imfloatl {
  	float: left;
	height: 250px;
	width: 210px;
	border-left: 5px;
	border-right: 5px;
}

div.imfloatl img{
	width: 210px;
	height: 160px;
}
  
.imfloatl p, .imfloats p {
   	text-align: center;
	width: 210px;
}

.imfloatl a, .imfloats a {
	background: #ffffff;
	color: #ffffff;
}

div.imfloats {
  	float: left;
	height: 350px;
	width: 210px;	
	border-left: 5px;
	border-right: 5px;
}

div.imfloats img{
	padding: 0px 25px 0px 25px;
	width: 160px;
	height: 210px;
}
	
#hottopics {
	float:right;
	text-align:left;
	vertical-align: top;
	border: 1px dotted #CCCCCC;
	width: 135px;
	padding: 5px;
	margin-left: 10px;
}


/* -------------------------------------------------------------------------------- */
/* Misc Styles                                                            */
/* -------------------------------------------------------------------------------- */
.pad5 {
	padding-right: 5px;
	padding-left: 5px;

}
.imageRight {
	float: right;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.imageLeft {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.up {
	width: 100%;
	float: left;
	background-color: #33CC33;
	margin: auto;
}

.up a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	background: #33CC33;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.up:hover {
    width: 980px;
	background-color: #FFFFFF;
	margin: auto;
}

.up a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	background: #FFFFFF;
	color: #000000;
	text-align: center;
	text-decoration: none;
}

#footer {
    width:100%;
	background-color: #000000;
	margin: auto;
}

.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	color: #FFFFFF;
	padding-top: 3px;
	text-align: center;
}


 
/*-----------------------------------------------------------------------------------------------------*/
 
/*Features concerning the CSS drop side-wards menu */

/*Features of the normal list and its width*/
ul#l_menu_nav {padding: 0; 
	margin: 0; 
	border-bottom: 2px outset #1C1C1C;
  	font: 1em sans-serif; 
	width: 125px;
	position: absolute; 
	top: 187px;}
	
/*features of the list items of the top level list*/	
ul#l_menu_nav li {	list-style-type: none;
  		border: 2px outset #1C1C1C; 
		border-width: 1px 1px 0 1px;
  		position: relative; 
		margin: 0; padding: 0;}
		
/*Hide the second level list*/
ul#l_menu_nav ul {display: none;
		width: 100px;}
		
/*Show the second level list when hoovered over the right one*/
ul#l_menu_nav li:hover > ul {	display: block; 
					position: absolute;}
					
/*Normal list item features*/
li a {	display: block; 
		padding: 5px 7px; 
		text-decoration: none; 
		background: #FFF; 
		color:#33CC33;}
	
/*Make the list items with sub-items to show bold*/
li.sub > a {color:#33CC33;}

#l_menu_nav > ul {	width: 100px; 
					margin-right: 1px; 
					border: 2px outset #1C1C1C;}

/*Features for the first level ul box*/
#l_menu_nav ul {margin: 0; 
				padding: 0; 
				cursor: default; 
				list-style-type: none;
				border: 2px outset #1C1C1C; 
				border-width: 0 1px 1px 1px;}
				
/*Border colour of the boxes at the first level list items*/									
#l_menu_nav ul li {	border-width: 1px 0; 
					border-color: white;
					padding: 0 0 0 5px; 
					border-width: 1px 1px 0 1px;
					line-height: 1.25em;}
					
/*Features for the second level ul box*/
#l_menu_nav ul ul {	border-width: 0 1px 1px 1px; 
					border-color: #1C1C1C;}
					
/*Border colour of the boxes at the second level list items*/					
#l_menu_nav ul ul li {	border-width: 1px 0; 
						border-color: white; 
						border-width: 1px 1px 0 1px;
						padding: 0 0 0 5px; 
						line-height: 1.25em;} 
						
/*Specification of the title of the list items at normal view*/						
#l_menu_nav li > a {background-color: transparent; 
					padding: 3px;
					text-decoration:none;} 

/*colour for the list items without sub*/					
#l_menu_nav li:hover {background-color: #33CC33;} 

/*colour for the list items without sub*/
#l_menu_nav li:hover > a {color: white; text-decoration:none;} 

/*Specification of the top box when expanding*/
#l_menu_nav li.sub:hover {	margin-right: -100px; 
							border: 1px solid black; 
							background: #33CC33;} 
							
/*colour of the text from higher level list when hovered over*/							
#l_menu_nav li.sub:hover > a {color: white; text-decoration:none;} 

/*Position and colour of new list poping up out of a list with a sub-division */
#l_menu_nav li.sub:hover > ul {	top: 1em; 
								right: -15px; 
								background: white;} 
								
/*-----------------------------------------------------------------------------------------------------*/								
								
							
ul#right {
	padding: 0;
	margin: 0;
	font: 1em sans-serif;
	list-style-type: none;
	width: 125px;
}

ul#right li {
	padding: 0;
	margin: 0;
	font: 1em sans-serif;
	width: 125px;
}
	
h1#right {
	color: #33CC33;
	font-family: "cooper black", "bremen bd bt", "Berlin sans fb", "magneto", "Beesknees ITC", Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.2em;
}

h2#right {
	color: #000000;
	font-family: "cooper black", "bremen bd bt", "Berlin sans fb", "magneto", "Beesknees ITC", Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.1em;
}

#right a:hover {
	background: #FFFFFF; 
	color:#33CC33;
	text-decoration: none;
}

/*-----------------------------------------------------------------------------------------------------*/

/*Layout of the entire page by centering and setting */

div#outer {
    width: 980px;
	background-color:#FFFFFF;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

div#header_login {
    clear: both;
    height: 20px;
	width: inherit;
	text-align: right;
	background-color: #33CC33;
}

div#header_banner {
    clear: both;
    height: 100px;
	width: inherit;
}

div#left {
	float: left;
	width: 95px;
	padding-top: 0px;
	padding-right: 3px;
}

div#left_extra {
	float: left;
	width: 95px;
	display: block;
	padding-top: 200px;
	padding-right: 3px;
}

div#left_submenu {
	float: left;
	width: 95px;
	display: block;
	padding-top: 200px;
	padding-right: 35px;
}

div#wideright {
    padding: 0px 0px 20px 32px;
	display: block;
	width: 850px;
	margin: 0px;
	float: left;
}

div#footerblock {
    clear: both;
    width: 980px;
	background-color: #FFFFFF;
}


/*
Registration/Login Form style elements
*/

#fg_membersite fieldset
{
   width: 300px;
   padding:20px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}

/*#fg_membersite legend, #fg_membersite h2
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}*/

#fg_membersite label
{
   font-family : Arial, sans-serif;
   font-size:0.8em;
   font-weight: bold;
}

#fg_membersite input[type="text"],#fg_membersite textarea,
#fg_membersite input[type="password"]
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

#fg_membersite input[type="text"],
#fg_membersite input[type="password"]
{
  height:18px;
  width:250px;
}

 #fg_membersite #scaptcha
{
  width:60px;
  height:18px;
}

#fg_membersite input[type="submit"]
{
   width:100px;
   height:30px;
   padding-left:0px;
}

#fg_membersite textarea
{
  height:120px;
  width:310px;
}

#fg_membersite input[type="text"]:focus,
#fg_membersite textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#fg_membersite .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#fg_membersite .error
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#fg_membersite #register_password_errorloc
{
    clear:both;
}

#fg_membersite  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#fg_membersite fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#fg_membersite .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: .8em;
   color:#333;   
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#fg_membersite .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_membersite #fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_membersite  #fg_crdiv p
{
    display:none;
}

#fg_membersite_content li
{
font-family : Arial, sans-serif;
padding-top:10px;
padding-bottom:10px;
}
#fg_membersite_content
{
    font-family : Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%
}

/*#fg_membersite_content h2
{
   font-family : Arial, sans-serif;
   font-size: 1.5em;
   font-weight:bold;
   color:#333;
}*/


/*
Password Form style elements
*/

.pwdwidgetdiv
{
	width:225px;
}

.pwdfield
{
    display:block;
}

.pwdopsdiv
{
	display: block;
	float: left;
	margin-right:6px;	
}
.pwdopsdiv a
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px; 
}

.pwdstrengthbar
{
	float:right;
	background:#cccccc;
	height:4px;
	margin:0;
}

.pwdstrength
{
	float:right; 
	height:20px;
	width:70px;
	margin-top:3px;
}
.pwdstrengthstr
{
    float:right;
	clear:both;
	height:14px;
	margin-top:0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px; 
}


/*----------------- Date/Calendar FORMATING -----------------------------------*/

.font, .font input select textarea { font-family: tahoma; font-size: 11px; }
a.tclabel span { text-decoration: none; font-family: tahoma; cursor: pointer; }

#calendar-page { background-color: #6699CC; display: inline-block; }

#calendar-header { padding-top: 2px; position: relative; z-index: 150; }
#calendar-header .closeme { padding: 0px 3px 2px 0px; }

#calendar-body { padding: 2px 3px 3px 3px; }
#calendar-body .general { background-color: #FFFFFF; }
#calendar-body .header { background-color: #6699CC; color: #FFFFFF; font-size: 9px; }
#calendar-body .othermonth { background-color: #EEEEEE; color: #AAAAAA; }
#calendar-body .othermonth a:link { text-decoration: none; color: #CCFFCC; }
#calendar-body .othermonth a:visited { text-decoration: none; color: #CCFFCC; }
#calendar-body .othermonth a:hover { text-decoration: none; color: #FFFFFF; }
#calendar-body td div { padding: 3px; width: 15px; white-space: nowrap; position: relative; z-index: 100; }
#calendar-body td a { display: block; white-space: nowrap; }
#calendar-body a:link { text-decoration: none; color: #000000; }
#calendar-body a:visited { text-decoration: none; color: #000000; }
#calendar-body a:hover { text-decoration: none; color: #FF0000; }
#calendar-body .disabledate { color: #AAAAAA; background: url(images/disable_date_bg.png) no-repeat center center #EEEEEE; }
#calendar-body .today { background-color: #CCFFCC; }
#calendar-body .select div { background: url(images/choose.png) no-repeat center center; }
#calendar-body .wk-hdr { font-size: 9px; }
#calendar-body .wk { background-color: #CCCCFF; font-size: 9px; color: #003399; }

#calendar-body .refresh { color: #FFFFFF; padding: 10px 3px 3px; }
#calendar-body .refresh .txt-container { padding: 25px 10px 10px; height: 50px; }

#calendar-body .mon {}
#calendar-body .tue {}
#calendar-body .wed {}
#calendar-body .thu {}
#calendar-body .fri {}
#calendar-body .sat { color: #6666CC; }
#calendar-body .sat a:link { color: #6666CC; }
#calendar-body .sun { color: #993300; }
#calendar-body .sun a:link { color: #993300; }

#calendar-body .hasEvent { background-color: #4DEF88; } /* event color */

#calendar-footer { background-color: #CCCCCC; font-size: 9px; overflow: hidden; }
#calendar-footer .btn { width: 16px; }
#calendar-footer a.txt { line-height: 19px; }
#calendar-footer a.txt:link { text-decoration: none; color: #000000; padding: 5px 2px; }
#calendar-footer a.txt:visited { text-decoration: none; color: #000000; }
#calendar-footer a.txt:hover { text-decoration: none; color: #FF0000; }
#calendar-footer a>img { margin-top: 1px; }
#calendar-footer .links { text-align: center; margin: auto 25px; }
#calendar-footer .links>div { display: inline; }

#calendar-header, #calendar-body, #calendar-footer { padding-left: 1px; padding-right: 1px; }
#calendar-container { clear: both; }

.tcday, .tcmonth, .tcyear { font-size: 11px; z-index: 10; }

.date-tccontainer { border: 1px solid #CCCCCC; background-color: #EFEFEF; padding: 2px; float: left; margin-right: 2px; text-align: center; text-decoration: none; white-space: nowrap; }

#calendarform { margin: 0px; padding: 0px; }
#calendarform ul { margin: 0px; padding: 0px; list-style: none; }
#calendarform ul li { display: inline; }
#calendarform select { z-index: 1; }

.calendar-border { border: 1px solid #999999; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; overflow: hidden; }
.div_calendar { width: 10px; height: 10px; }

#calendar-alert { background-color: #CC3300; border: 1px solid #993300; color: #FFFFFF; padding: 3px; margin: 2px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; }

.calendartooltip { position: absolute; top: 0px; right: 0px; width: 8px; height: 8px; background: url(images/info.gif) no-repeat top right; z-index: 102; } /* event icons */

#info { width: 9px; height: 9px; position: relative; z-index: 140; }
#info #about { color: #191970; width: 150px; height: 1px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: block; /*z-index: 1000;*/ -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; border: 0px solid #191970; cursor: default; padding: 1px 2px; }
